@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz@1,5..1200&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz@1,5..1200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* Bonbon */
@font-face {
  font-family: 'Bonbon';
  src: url('@/assets/fonts/Bonbon/Bonbon-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Fleur De Leah */
@font-face {
  font-family: 'FleurDeLeah';
  src: url('@/assets/fonts/Fleur_De_Leah/FleurDeLeah-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Kranky */
@font-face {
  font-family: 'Kranky';
  src: url('@/assets/fonts/Kranky/Kranky-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Marck Script */
@font-face {
  font-family: 'MarckScript';
  src: url('@/assets/fonts/Marck_Script/MarckScript-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.playfair-d {
  font-family: "Playfair Display", serif;
  /* font-optical-sizing: auto; */
  font-weight: 700;
  /* font-style: italic; */
  /* font-variation-settings:
    "wdth" 100; */
}
/*  Medium 500 Italic*/
html, body {
  height: 100%;
}
h1{
  font-family: 'fleur';
}
:root {
  --color-primary: #9DC9C7;
  --color-secondary: #FFD1C8;
  --color-accent: #E6C8A4;
  --color-neutral: #F0F5F3;
  --color-dark: #2A363B;
}
.fleur-de-leah-regular {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
}
.bonbon-regular {
  font-family: "Bonbon", cursive;
  font-weight: 400;
  font-style: normal;
}

.cursive{
  font-family:  cursive;
  font-weight: 400;
  font-style: normal;

}
.kranky-regular {
  font-family: "Kranky", serif;
  font-weight: 400;
  font-style: normal;
}
.akaya-kanadaka-regular {
  font-family: "Akaya Kanadaka", system-ui;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: cursive;
  font-weight: 400;
  font-style: normal;
}

.splash-regular {
  font-family: "Splash", cursive;
  font-weight: 400;
  font-style: normal;
}
.marck-script-regular {
  font-family: "Marck Script", cursive;
  font-weight: 800;
  font-style: normal;
}

/* Example usage */
.bg-primary { background-color: var(--color-primary); }
.bg-secondary { background-color: var(--color-secondary); }
.text-dark { color: var(--color-dark); }
.border-secondary { border-color: var(--color-secondary); }
.btn-accent { background: var(--color-accent); color: #fff; }


/* Force scrollbar always visible */


/* For Firefox */
* {
  scrollbar-width: thin;              
  scrollbar-color: var(--color-scroll) var(--color-neutral);  
  
}

/* For Chrome, Edge, Safari (WebKit-based) */
*::-webkit-scrollbar {
  width: 8px;       
  height: 8px;     
}

*::-webkit-scrollbar-track {
  background: var(--color-neutral); 
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-accent);    
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}

.v-icon{
  color:var(--color-primary)
}

/**
splash
*/