@import "tailwindcss";
/* -------------------- CUSTOM FONTS -------------------- */

/* Akaya Kanadaka */
@font-face {
  font-family: 'AkayaKanadaka';
  src: url('@/assets/fonts/Akaya_Kanadaka/AkayaKanadaka-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Bonbon */
@font-face {
  font-family: 'Bonbon';
  src: url('@/assets/fonts/Bonbon/Bonbon-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Fleur De Leah */
@font-face {
  font-family: 'FleurDeLeah';
  src: url('@/assets/fonts/Fleur_De_Leah/FleurDeLeah-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Kranky */
@font-face {
  font-family: 'Kranky';
  src: url('@/assets/fonts/Kranky/Kranky-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Marck Script */
@font-face {
  font-family: 'MarckScript';
  src: url('@/assets/fonts/Marck_Script/MarckScript-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Roboto */
@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Sansation */
/* @font-face {
  font-family: 'Sansation';
  src: url('@/assets/fonts/Sansation/Sansation-LightItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
} */
/* Patrick_Hand */
@font-face {
  font-family: 'Patrick_Hand';
  src: url('@/assets/fonts/Patrick_Hand/PatrickHand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* Splash */
@font-face {
  font-family: 'Splash';
  src: url('@/assets/fonts/Splash/Splash-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.akaya {
  font-family: 'AkayaKanadaka', cursive !important;
}

.bonbon {
  font-family: 'Bonbon', cursive !important;
}

.fleur {
  font-family: 'FleurDeLeah', cursive !important;
}
.kranky{
  font-family: 'Kranky', cursive !important;

}
.marck{

  font-family: 'MarckScript', cursive !important;
}
/* .playfair {
  font-family: 'Playfair', serif;
} */

.splash {
  font-family: 'Splash', cursive !important;
}
/* .patrick{

  font-family: 'Patrick_Hand', cursive !important;
} */

*{
  font-family: Georgia, 'Times New Roman', Times, serif,'Roboto', serif;
  font-weight: 500;
  font-style: italic;
  /* font-style: italic; */

}
/* Glass_Antiqua -------------------- END CUSTOM FONTS -------------------- */

/*  Medium 500 Italic*/
html, body {
  height: 100%;
}
h1{
  font-family: 'fleur';
}
:root {
  --color-primary: #9DC9C7;
  --color-secondary: #FFD1C8;
  --color-accent: #E6C8A4;
  --color-neutral: #F0F5F3;
  --color-dark: #2A363B;
}
/* Sansation not required */

/* Example usage */
.bg-primary { background-color: var(--color-primary); }
.bg-secondary { background-color: var(--color-secondary); }
.text-dark { color: var(--color-dark); }
.border-secondary { border-color: var(--color-secondary); }
.btn-accent { background: var(--color-accent); color: #fff; }


/* Force scrollbar always visible */


/* For Firefox */
* {
  scrollbar-width: thin;              
  scrollbar-color: var(--color-scroll) var(--color-neutral);  
  
}

/* For Chrome, Edge, Safari (WebKit-based) */
*::-webkit-scrollbar {
  width: 8px;       
  height: 8px;     
}

*::-webkit-scrollbar-track {
  background: var(--color-neutral); 
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-accent);    
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}

.v-icon{
  color:var(--color-primary)
}

/**
splash
*/